<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smartbill_integration>
            <smartbill_settings>
                <user></user>
                <token></token>
                <vat_code>0</vat_code>
                <vat_company>0</vat_company>
                <vat_details>0</vat_details>
                <vat_products>0</vat_products>
                <smartbill_invoice_from_magento_invoice>0</smartbill_invoice_from_magento_invoice>
                <invoice_transportation_vat>0</invoice_transportation_vat>
                <invoice_transportation_vat_included>0</invoice_transportation_vat_included>
                <invoice_use_payment_tax>0</invoice_use_payment_tax>
            </smartbill_settings>
            <smartbill_invoice_settings>
                <invoice_series></invoice_series>
                <invoice_not_draft>1</invoice_not_draft>
                <invoice_use_stock>0</invoice_use_stock>
                <invoice_which_stock></invoice_which_stock>
                <invoice_due_days>15</invoice_due_days>
                <invoice_delivery_days>15</invoice_delivery_days>
                <invoice_language></invoice_language>
                <invoice_currency></invoice_currency>
                <invoice_unit></invoice_unit>
                <invoice_save_client>0</invoice_save_client>
                <invoice_save_product>0</invoice_save_product>
                <invoice_transportation>1</invoice_transportation>
                <invoice_transportation_label></invoice_transportation_label>
                <debug_mode>0</debug_mode>
                <invoice_type>1</invoice_type>
            </smartbill_invoice_settings>
            <smartbill_invoice_email_settings>
                <invoice_notification>0</invoice_notification>
                <invoice_notification></invoice_notification>
                <invoice_notification_subject></invoice_notification_subject>
                <invoice_notification_cc></invoice_notification_cc>
                <invoice_notification_bcc></invoice_notification_bcc>
                <invoice_notification_bodytext></invoice_notification_bodytext>
            </smartbill_invoice_email_settings>
        </smartbill_integration>
    </default>
</config>
